<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contoh Form dengan WTForms untuk Validasi</title>
</head>
<body>
  <h2>Contoh Form dengan WTForms untuk Validasi</h2>
  <p>Data yang dikirim adalah:</p>
  <p>
    Nama: {{ nama }} <br />
    Email: {{ email }} <br />
    URL: {{ url }} <br />
    Komentar: {{ komentar }} <br />
  </p>
</body>
</html>